body {
    background: #111;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 400px;
    margin: 120px auto;
    text-align: center;
}

input, button {
    width: 80%;
    padding: 12px;
    margin: 8px;
    border-radius: 6px;
    border: none;
}

button {
    background: #00bfa5;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover { background: #009e80; }