body {
    background: #111;
    color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 420px;
    margin: 80px auto;
    text-align: center;
}
.accent { color: #00bfa5; font-weight:700; }
input, select, button {
    width: 80%;
    padding: 10px;
    margin: 8px;
    border-radius: 6px;
    border: none;
}
button {
    background: #00bfa5;
    color: #111;
    font-weight:600;
    cursor: pointer;
}